<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.afigueroacogswell.whatsonthemenu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_next"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Main Activity is the parent of this activity-->
        <activity android:name=".AddIngredients">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">
            </meta-data>
        </activity>

        <activity android:name=".PopUpForm"
            android:theme="@style/AppTheme.PopUpForm">
        </activity>

        <activity android:name=".JsoupParser"></activity>

    </application>

</manifest>